<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/home-fade.css}"/>

    <title>Issue Tracker Dashboard</title>

</head>
<body>
<div th:replace="dashboard/dashboard-navbar :: navbar(dashboard)"></div>

<div class="base-color">
    <div class="container-fluid py-5 min-vh-100">
        <div class="row py-2 py-md-0"></div>
        <div class="row justify-content-center py-5">
            <div class="col-11 py-5 border rounded-3 bg-light">

                <div th:switch="${formIssue.id == 0}">
                    <div th:case="true">
                        <p class="fs-3">Create New Issue</p>
                    </div>
                    <div th:case="false">
                        <p class="fs-3">Edit Issue</p>
                    </div>
                </div>

                <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/dashboard/processIssue}"
                      th:object="${formIssue}" method="POST">
                    <div class="row g-4">
                        <div class="col-12 col-md-6">

                            <!-- Summary -->
                            <div class="form-floating">

                                <!-- Add hidden form field to handle update -->
                                <input type="hidden" th:field="*{id}"/>

                                <!-- Add hidden form field for projectId -->
                                <input type="hidden" th:field="*{projectId}"/>

                                <input th:field="*{summary}" type="text" name="summary" id="floatingInput"
                                       placeholder="Summary" class="form-control">
                                <label for="floatingInput" class="text-secondary">Summary</label>
                            </div>
                            <div th:if="${#fields.hasErrors('summary')}" class="text-danger">
                                <small>
                                    <ul>
                                        <li th:each="err : ${#fields.errors('summary')}" th:text="${err}"/>
                                    </ul>
                                </small>
                            </div>

                            <!-- Description -->
                            <div class="form-floating mt-4">
                                <textarea th:field="*{description}" class="form-control" id="floatingTextarea"
                                          placeholder="Description" style="height: 100px"></textarea>
                                <label for="floatingTextarea" class="text-secondary">Description</label>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating">
                                <select th:field="*{priority}" class="form-select" id="floatingSelect">
                                    <option th:each="tempPriority, iteration : ${priorities.getPriorities()}"
                                            th:value="${iteration.index}" th:text="${tempPriority}">
                                    </option>
                                </select>
                                <label for="floatingSelect">Priority</label>
                            </div>
                            <div class="row mt-0 g-3 p-2">
                                <div class="col-12 border rounded-3 p-2">
                                    <span class="mb-3">Issue type:</span>
                                    <div class="row row-cols-auto g-3 mt-0">
                                        <div th:each="issueType : ${allIssueTypes}">
                                            <div class="col border rounded-3 p-2">
                                            <label th:for="'issueTypes'+${issueType.id}">
                                                <span  th:text="${issueType.name}"/>
                                                <input type="checkbox" name="issueTypes"
                                               th:value="${issueType.id}"
                                               th:field="*{issueTypes}"/>
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div th:if="${guestUserError}">
                            <div class="alert alert-danger mt-4">
                                <small>
                                    <span th:text="${guestUserError}"></span>
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <button class="w-100 btn btn-outline-secondary" type="submit">Save</button>
                        </div>
                        <div class="col">
                            <a class="w-100 btn btn-outline-secondary"
                               th:href="@{/dashboard/issues(projectId=${formIssue.projectId})}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>