<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Issue Tracker Dashboard</title>

</head>
<body>
<div th:replace="dashboard/dashboard-navbar :: navbar(dashboard)"></div>

<div class="bg-image" style="background-image: url('/images/background.jpeg'); height: 100vh; background-size: cover;">

    <div class="container px-4 py-5">
        <div class="row align-items-center py-5">
            <div class="p-4 p-md-5 border rounded-3 bg-light">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-secondary" th:href="@{/dashboard/newIssue}">New Issue</a>
                        </div>
                        <div class="col d-flex flex-column align-items-end">

                            <div class="btn-group">

                                <a th:href="@{/dashboard/issues(show=open)}" class="btn btn-outline-secondary"
                                   th:classappend="${show} == 'open' ? 'active' : ''"
                                   th:attr="aria-current=${show} == 'open' ? 'page'">

                                    Open (<span th:text="${openIssuesCount}"></span>)
                                </a>

                                <a th:href="@{/dashboard/issues(show=closed)}" class="btn btn-outline-secondary"
                                   th:classappend="${show} == 'closed' ? 'active' : ''"
                                   th:attr="aria-current=${show} == 'closed' ? 'page'">

                                    Closed (<span th:text="${closedIssuesCount}"></span>)
                                </a>

                                <a th:href="@{/dashboard/issues(show=all)}" class="btn btn-outline-secondary"
                                   th:classappend="${show} == 'all' ? 'active' : ''"
                                   th:attr="aria-current=${show} == 'all' ? 'page'">

                                    All (<span th:text="${openIssuesCount + closedIssuesCount}"></span>)
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div th:switch="${#lists.isEmpty(issues)}">
                    <div th:case="true">

                        <div th:switch="${show}">
                            <div th:case="open">
                                <span>There are no open issues yet.</span>
                            </div>
                            <div th:case="closed">
                                <span>There are no closed issues yet.</span>
                            </div>
                            <div th:case="all">
                                <span>There are no issues yet.</span>
                            </div>
                        </div>

                    </div>
                    <div th:case="false">

                        <table class="table table-hover caption-top">
                            <caption>Issues</caption>
                            <thead>
                            <tr>
                                <th scope="col">Summary</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Reporter</th>
                                <th scope="col">Details</th>
                                <th scope="col"></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tempIssue : ${issues}">
                                <td th:text="${tempIssue.summary}"/>
                                <td th:text="${tempIssue.priority}"/>
                                <div th:switch="${tempIssue.createdBy == null}">
                                    <div th:case="true">
                                        <td class="text-secondary fst-italic">
                                            <small>
                                                deleted user
                                            </small>
                                        </td>
                                    </div>
                                    <div th:case="false">
                                        <td th:text="${tempIssue.createdBy.username}"/>
                                    </div>
                                </div>

                                <td>
                                    <a th:href="@{/dashboard/issue(issueId=${tempIssue.id})}"
                                       class="btn btn-sm btn-outline-secondary">
                                        Details
                                    </a>
                                </td>

                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a th:href="@{/dashboard/deleteIssue(issueId=${tempIssue.id})}"
                                       class="btn btn-sm btn-outline-secondary"
                                       onclick="if (!(confirm('Are you sure you want to delete this issue?'))) return false">
                                        Delete
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>