<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/home-fade.css}"/>

    <title>Issue Tracker | Profile</title>

</head>
<body>
<div th:replace="dashboard/dashboard-navbar :: navbar(profile)"></div>

<div class="base-color">

    <div class="container px-4 py-5 min-vh-100">
        <div class="row align-items-center py-5">
            <div class="p-4 p-md-5 border text-center rounded-3 bg-light">
                <div class="row row-cols-2">
                    <div class="col border rounded-3">
                        <div class="row">
                            <div class="col">
                                Username:
                            </div>
                            <div class="col">
                                <span th:text="${user.username}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Email:
                            </div>
                            <div class="col">
                                <span th:text="${user.email}"></span>
                            </div>
                        </div>
                        <div class="row">

                            <hr>

                        </div>
                        <div class="row">
                            <div class="col" th:unless="${#authorization.expression('hasAuthority(''ROLE_GUEST'')')}">
                                <a th:href="@{/dashboard/changePassword(userId=${user.username})}" class="btn btn-outline-secondary">Change password</a>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <span>Your projects:</span>
                            <div th:each="tempProject : ${user.collaborationProjects}">
                                <span th:text="${tempProject.title}"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span>Guest projects:</span>
                            <div th:each="tempProject : ${user.guestProjects}">
                                <span th:text="${tempProject.title}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>