<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/background.css}"/>
    <link rel="stylesheet" th:href="@{/css/home-fade.css}"/>

    <title>Issue Tracker | New Project</title>

</head>
<body>
<div th:replace="dashboard/dashboard-navbar :: navbar(dashboard)"></div>

<div class="base-color">
    <div class="container-fluid py-5 min-vh-100">
        <div class="row py-2 py-md-0"></div>
        <div class="row justify-content-center py-5">
            <div class="col-11 p-3 border rounded-3 bg-light">

                <div th:switch="${formProject.id == 0}">
                    <div th:case="true">
                        <p class="fs-3">Create New Project</p>
                    </div>
                    <div th:case="false">
                        <p class="fs-3">Edit Project</p>
                    </div>
                </div>

                <form class="p-3 border rounded-3 bg-light" th:action="@{/dashboard/processProject}"
                      th:object="${formProject}" method="POST" action="#">
                    <div class="row g-3">
                        <div class="col-12 col-md-6">

                            <!-- Title -->
                            <div class="form-floating">

                                <!-- Add hidden form field to handle update -->
                                <input type="hidden" th:field="*{id}"/>

                                <input th:field="*{title}" type="text" name="title" id="floatingInput"
                                       placeholder="Title" class="form-control mt-2">
                                <label for="floatingInput" class="text-secondary">Title</label>
                            </div>
                            <div th:if="${#fields.hasErrors('title')}" class="text-danger">
                                <small>
                                    <ul>
                                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}"/>
                                    </ul>
                                </small>
                            </div>

                            <!-- Description -->
                            <div class="form-floating mt-4">
                                <textarea th:field="*{description}" class="form-control" id="floatingTextarea"
                                          placeholder="Description" style="height: 100px"></textarea>
                                <label for="floatingTextarea" class="text-secondary">Description</label>
                            </div>
                        </div>
                        <div class="col12 col-md-6">
                            <div class="row g-3 p-2">
                                <div class="col-12 border rounded-3 p-3">
                                    <span class="mb-3">
                                    Find users and add them to this project (Project owner is added automatically):
                                    </span>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <input type="text" th:field="*{searchedUsername}" class="form-control"
                                                   placeholder="Username">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-outline-secondary" name="action"
                                                    value="search">Search
                                            </button>
                                        </div>
                                    </div>
                                    <div th:unless="*{#lists.isEmpty(searchResults)}">
                                        <div class="row mt-2 g-2">
                                            <div th:each="result, stat : *{searchResults}">
                                                <input type="hidden" th:field="*{searchResults[__${stat.index}__]}"/>
                                                <div class="col border rounded-3 p-2">
                                                    <div class="row">
                                                        <div class="col text-center">
                                                            <span class="fw-bold align-middle" th:text="${result}"/>
                                                        </div>
                                                        <div class="col text-end">
                                                            <span class="small">Add as:</span>
                                                            <div class="btn-group btn-group-sm">
                                                                <button class="btn btn-outline-secondary" name="action"
                                                                        value="addCollaborator"
                                                                        th:formaction="@{/dashboard/processProject(username=${result})}">
                                                                    Collaborator
                                                                </button>
                                                                <button class="btn btn-outline-secondary" name="action"
                                                                        value="addFollower"
                                                                        th:formaction="@{/dashboard/processProject(username=${result})}">
                                                                    Follower
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 border rounded-3 p-3">
                                    <span class="fw-bold">Collaborators:</span>
                                    <div class="row row-cols-auto g-3 mt-0">
                                        <div th:each="collaborator, stat : *{collaboratorsNames}">
                                            <div class="col border rounded-3 p-2">
                                                <input type="hidden"
                                                       th:field="*{collaboratorsNames[__${stat.index}__]}"/>
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <span class="fw-bold align-middle" th:text="${collaborator}"/>
                                                    </div>
                                                    <div class="col text-end">
                                                        <button class="btn btn-sm btn-outline-secondary" name="action"
                                                                value="removeCollaborator"
                                                                th:formaction="@{/dashboard/processProject(username=${collaborator})}">
                                                            Remove
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 border rounded-3 p-3">
                                    <span class="fw-bold">Followers:</span>
                                    <div class="row row-cols-auto g-3 mt-0">
                                        <div th:each="follower, stat : *{followersNames}">
                                            <div class="col border rounded-3 p-2">
                                                <input type="hidden" th:field="*{followersNames[__${stat.index}__]}"/>
                                                <div class="row">
                                                    <div class="col text-center">
                                                        <span class="fw-bold align-middle" th:text="${follower}"/>
                                                    </div>
                                                    <div class="col text-end">
                                                        <button class="btn btn-sm btn-outline-secondary" name="action"
                                                                value="removeFollower"
                                                                th:formaction="@{/dashboard/processProject(username=${follower})}">
                                                            Remove
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <div class="row">
                        <div th:if="${guestUserError}">
                            <div class="alert alert-danger mt-4">
                                <small>
                                    <span th:text="${guestUserError}"></span>
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <button class="w-100 btn btn-outline-secondary" type="submit">Save</button>
                        </div>
                        <div class="col">
                            <a class="w-100 btn btn-outline-secondary" th:href="@{/dashboard/projects}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>